.search{
    height: 37px;
}

.search hr{
    margin-top: 36px;
    width: 224px;
    position: absolute;
    height: 1px;
    border: none;
    background: #323232;
}

.search input{
    padding: 8px 0 8px 15px;
    font-family:'Times New Roman', Times, serif ;
    width: 209px;
    height: 20px;
    border: none;
    font-size: 14px;
    outline: none;
    background: #262626;
    color: #696868;
    resize: none;
    position: absolute;
}

.search input::-webkit-input-placeholder{
    color: #404040;
}

