.search{
    height: 37px;
}

.search hr{
    margin-top: 36.5px;
    width: 222.5px;
    position: absolute;
    height: 0.7px;
    border: none;
    background: #343434;
}

.search input{
    padding: 8px 0 8px 15px;
    font-family:'Times New Roman', Times, serif ;
    width: 207.5px;
    height: 21px;
    border: none;
    font-size: 14px;
    outline: none;
    background: #262626;
    color: #696868;
    resize: none;
    position: absolute;
}

.search input::-webkit-input-placeholder{
    color: #5f5f5f;
}

