.dialogs{
    position: relative;
    right: 35px;
    display: grid;
    grid-template-areas:
            'd m';
    grid-template-columns: 1.85fr 6fr;
    grid-gap: 0.3vw;
    width: 950px;
    box-shadow: 1px 1px 3px #151515, 1px 1px 3px #151515;
}