.message{
    color: #c4c4c4;
    font-size: 14px;
    word-wrap: break-word;
    padding: 5px;
    float: left;
    width: 100%;
    margin-right: 5px;
}

.messageText{
    box-shadow: 1px 1px 3px #151515, 0 0 2px #151515;
    padding: 10px 3px 10px 10px;
    border-radius: 20px;
    background-color: #8d3529;
    max-width: 400px;
    float: left;

}

.time{
    float: right;
    margin: 6px 3px 0 6px;
    font-size: 8px;
    color: #a57474;
    width: 21px;
}