.post{
    margin: 25px 0 0 2px;
    float: left;
    width: 539px;
    height: 100%;
    background: #292929;
    border-radius: 7px;
    box-shadow: 1px 1px 3px #191919, 0px 0px 3px #191919;
    word-wrap: break-word;
}
.ava{
    float: left;
    width: 47px;
    height: 47px;
}
.ava img{
    border-radius: 100px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name a{
    font-size: 16px;
    margin: 5px 0 0 10px;
    color: #c4c4c4;
    display: inline-block;
}
.header{
    height: 45px;
    border-radius: 7px 7px 0 0;
    padding: 10px;
}
.date{
    font-size: 13px;
    margin: 4px 0 0 9px;
    float: left;
    color: #c4c4c4;
    display: inline-block;
}

.contentPost{

}

.content{
    color: #c4c4c4;
    font-size: 15px;
    padding: 10px;
    line-height: 1.7;
}

.footer hr{
    height: 0px;
    border: none;
    border-top: 1px solid #2b585f;
}

.footer{
    /*margin-top: 10px;*/
    background: #212121;
    height: 30px;
    border-radius: 0 0 7px 7px;
    /*padding: 10px;*/
    padding-bottom: 20px;
}

.like{

}
