.dialogItem{
    background: #282828;
    text-align: left;
    transition: 0.3s;
    height: 47px;
    width: 217px;
    padding: 5px 0 4px 8px;
    float: left;
}

.dialogItem hr{
    margin-top: 50px;
    height: 1px;
    background: #2c2c2c;
    border: none;
    margin-left: -7px;
}

.name{
    float: left;
    text-decoration: none;
    color: #818181;
    margin: 15px 0 0 10px;
    font-size: 15px;
}




.ava{
    background-color: #c4c4c4;
    width: 38px;
    height: 38px;
    border-radius: 100px;
    float: left;
    margin-top: 4px;
}

.ava img{
    border-radius: 100px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dialogItem:hover{
    background: #2c2c2c;
}

.active{
    background: #2c2c2c;
}