.users{
    margin: 3px 0 0 60px;
    background-color: #292929;
    height: 100%;
    color: #c4c4c4;
    width: 720px;
    box-shadow: 1px 1px 3px #151515, 1px 2px 5px #151515;
    border-radius: 20px 20px 0 0 ;
    border-right: 1px #6b4d3c dashed;
    border-left: 1px #6b4d3c dashed;
}
.block{
    border: 1px #e7945f dashed;
}
.usersItem{
    text-align: center;
    font-size: 25px;
}

.line{
    margin: 0 0 9px 0;
    border: 0;
    height: 1px;
    background-color: #795844;
}
.takeUsers{
    text-align: center;
    padding: 15px;
}

.takeUsers button{
    width: 140px;
    height: 37px;
    border: none;
    outline: none;
    background: #1f1f1f;
    border-radius: 100px;
    border-right: #db685d 3px solid;
    border-left: #db685d 3px solid;
    color: #ff837a;
    font-family: "Britannic Bold", serif;
    font-size: 26px;
    padding-bottom: 1px;
    cursor: pointer;
}

.takeUsers button:hover{
    border-right: #db685d 3px solid;
    border-bottom: #db685d 1px solid;
    border-top: #db685d 1px solid;
    border-left: #db685d 3px solid;
}
.takeUsers button:active{
    background: #161212;
}