.app {
    display: grid;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 7% 1fr;
    grid-template-columns: 20% 1fr;
    grid-gap: 0.6vw;
    height: 150vh;
    margin-left: 90px;
    width: 950px;
}

.app-content{
    grid-area: c;
}
