.user{
    background: #212121;
    box-shadow: 1px 1px 3px #151515, 0 0 3px #151515;
    margin-left: 82px;
    padding: 2px 6px 6px 8px;
    display: inline-block;
    width: 540px;
    height:89px;
    margin-top: 9px;
    border-radius: 20px;
    border-right: 1px #7c5944 solid;
    border-left: 1px #7c5944 solid;
}
.right{
    float: right;
    padding: 32px 15px 0 0;
}
.location{
    color: #8d8d8d;
    font-family: Ebrima, serif;
    word-wrap: break-word;
    width: 180px;
    margin-top: 8px;
    margin-right: 20px;
    float: left;
    font-size: 13px;
}
.photo{
    float: left;
}
.left{
    float: left;
}
.center{
    padding: 20px 0 0 26px;
    float: right;
}
.name {
    font-family: Montserrat, serif;
    font-weight: 300;
    color: #bfb1a7;
    font-size: 23px;
}
.photo{
    background-color: #c4c4c4;
    width: 82px;
    height: 82px;
    border-radius: 100px;
    float: left;
    margin-top: 4.5px;
    border:1px #a96b3c solid;
}
.photo:hover{
    filter: invert(90%);
}
.photo img{
    border-radius: 100px;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.unFollow{
    color: #b8b8b8;
    background: #343434;
    border: 1px #a5a5a5 solid;
    border-top:0.7px;
    border-bottom:0.7px;
}
.follow{
    background: #2a2a2a;
    color: #e0b294;
    border: 0.7px #e0b294 solid;
    border-top: 1px;
    border-bottom: 1px;
}
.follow:active{
    border: 1px #e0b294 double;
}
.unFollow:active{
    border: 1px #a5a5a5 double;
}
.right button{
    letter-spacing: 0.3px;
    border-radius: 11px;
    font-family: Montserrat, serif;
    font-weight: 100;
    width: 120px;
    height: 35px;
    margin-right: 5px;
    float: right;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}
.right button {
    background-position: center;
    transition: background 0.5s;
}