.friend{
    display: inline-block;
    margin-top: 1px;
}
.ava{
    margin: 9px 10px 8px 0;
    background-color: #c4c4c4;
    width: 47px;
    height: 47px;
    border-radius: 100px;
    float: left;
}

.name{
    font-size: 10px;
    text-align: center;
    color: #c4c4c4;
}

.ava img{
    border-radius: 100px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}